body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

nav {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #ecf0f1;
}

.pulse-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: fadeIn 1s ease;
}

.live-monitoring,
.user-profile {
    margin-top: 20px;
}

.live-monitoring,
.user-profile {
    margin-top: 20px;
}

h2 {
    color: #3498db;
}

.about-section,
.contact-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

button.emergency-btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.emergency-btn:hover {
    background-color: #c0392b;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: fadeIn 1s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.emergency-section,
.data-privacy,
.terms-of-service {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease;
}

h2 {
    color: #3498db;
}

